.painel {
  padding: 16px 36px;
  background-color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  right: 0;
  margin: 16px;
  font-size: 16px;
  font-weight: 500;
}

img {
  width: 72px;
}
