.query-form {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;

  font-size: 14px;
  font-weight: bold;
}

.menu-option {
  border-bottom: 1px solid #c4c4c4;
  color: rgb(78, 96, 104);
  cursor: pointer;
  padding: 4px;
}

.menu-option:hover {
  background-color: #fafafa;
}

.results-container {
  display: flex;
  flex-direction: column;
  /* gap: 24px !important; */
  max-height: 30vh;
  overflow: auto;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
