.map-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

h3 {
  font-weight: 300;
  font-size: 14px;
}

h2 {
  font-size: 16px;
}

.forward {
  z-index: 400 !important;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font-family: monospace;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.button {
  position: absolute;
  right: 0;
}

.leaflet-control-attribution {
  padding: 2px !important;
}

.leaflet-control-attribution:not(:hover, :focus, :active) {
  text-decoration: none !important;
}

.leaflet-container a {
  padding: 1px;
  color: black !important;
}

.leaflet-control-zoom {
  margin-top: 30vh !important;
}

.default-shadow {
  box-shadow: 0 1px 3px #00000020;
}
